:root {
  --background-color-light: #f0f0f0;
  --background-color-dark: #333;
  --text-color-light: #333;
  --text-color-dark: #f0f0f0;
  --quote-background-light: rgba(255, 255, 255, 0.8);
  --quote-background-dark: rgba(0, 0, 0, 0.8);
  --quote-text-light: #333;
  --quote-text-dark: #f0f0f0;
  --clock-color-light: #333;
  --clock-color-dark: #f0f0f0;
  --date-color-light: rgba(0, 60, 255, 0.903);
  --date-color-dark: rgba(141, 7, 219, 0.642);
  --circle-background-light: rgba(0, 60, 255, 0.903);
  --circle-background-dark: rgba(141, 7, 219, 0.642);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-light);
  color: var(--text-color-light);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  transition: background 0.5s ease, color 0.5s ease;
}

.clock-container {
  text-align: center;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-container {
  margin-top: 1rem;
  width: 60vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  background: var(--quote-background-light);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

#quote-start,
#quote-end {
  font-size: 4rem;
  color: #ccc;
  margin: 0;
  position: absolute;
  font-style: italic;
  transition: color 0.5s ease;
}

#quote-start {
  top: -20px;
  left: -20px;
}

#quote-end {
  bottom: -20px;
  right: -20px;
}

#quote {
  font-family: "Georgia", serif;
  font-weight: 400;
  color: var(--quote-text-light);
  z-index: 1;
  transition: color 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.quote-container {
  animation: fadeIn 1s ease-in-out;
}

.clock {
  font-size: 120px;
  font-weight: bold;
  text-shadow: 0 0 20px #dc0707f3;
  margin-bottom: 20px;
  transition: color 0.5s ease, text-shadow 0.5s ease;
  background: linear-gradient(
    135deg,
    #a90000,
    #6617dcd5,
    #7905d1
  ); /* Add neon gradient background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.dark-theme .clock {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0ff,
    0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 75px #0ff;
  color: var(--clock-color-dark);
}

.date {
  font-size: 24px;
  opacity: 0.8;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: var(--circle-background-light);
  animation: float 15s infinite ease-in-out;
  transition: background-color 0.5s ease;
}

.circle:nth-child(1) {
  width: 80px;
  height: 80px;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  width: 120px;
  height: 120px;
  top: 20%;
  right: 15%;
  animation-delay: 2s;
}

.circle:nth-child(3) {
  width: 100px;
  height: 100px;
  bottom: 15%;
  left: 20%;
  animation-delay: 4s;
}
.circle:nth-child(4) {
  width: 100px;
  height: 100px;
  bottom: 15%;
  left: 20%;
  animation-delay: 4s;
}
.circle:nth-child(5) {
  width: 100px;
  height: 100px;
  bottom: 70%;
  left: 20%;
  animation-delay: 4s;
}
.circle:nth-child(6) {
  width: 100px;
  height: 100px;
  bottom: 15%;
  left: 70%;
  animation-delay: 4s;
}
.circle:nth-child(7) {
  width: 100px;
  height: 100px;
  bottom: 40%;
  left: 90%;
  animation-delay: 4s;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.button-container button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

body.light-theme {
  --background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.light-theme .quote-container {
  background-color: var(--quote-background-light);
}

body.light-theme #quote-start,
body.light-theme #quote-end {
  color: #999;
}

body.light-theme #quote {
  color: var(--quote-text-light);
}

body.light-theme .clock {
  color: var(--clock-color-light);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

body.light-theme .date {
  color: var(--date-color-light);
}

body.light-theme .circle {
  background-color: var(--circle-background-light);
}

body.dark-theme {
  --background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.dark-theme .quote-container {
  background-color: var(--quote-background-dark);
}

body.dark-theme #quote-start,
body.dark-theme #quote-end {
  color: #666;
}

body.dark-theme #quote {
  color: var(--quote-text-dark);
}

body.dark-theme .clock {
  color: var(--clock-color-dark);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

body.dark-theme .date {
  color: var(--date-color-dark);
}

body.dark-theme .circle {
  background-color: var(--circle-background-dark);
}
